@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Apply it globally */
body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}



/* Hide scrollbar but keep scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



